---
# Reasoning for deactivating checks:
#   llvm-header-guard: does not work with src/ prefix
#   cppcoreguidelines-no-malloc/hicpp-no-malloc: we need malloc in a few places
#   cppcoreguidelines-pro-*: too strict for now
#   cert-err60-cpp: something with exceptions -- to lazy to understand for now
#   fuchsia-*: way too strict
#   hicpp-vararg: this would forbid printf
#   cert-msc32-c,cert-msc51-cpp: we need deterministic "random" numbers for testing
#   bugprone-exception-escape: TODO(ingo): we should fix this one day
#   cppcoreguidelines-owning-memory: TODO(ingo): fix this
#   cppcoreguidelines-avoid-magic-numbers: alias for readability-magic-numbers, which is active
#   cppcoreguidelines-avoid-c-arrays: alias for modernize-avoid-c-arrays, which is active
#   hipp-avoid-c-arrays: alias for modernize-avoid-c-arrays, which is active
#   llvm-include-order: this is LLVM specific; for us, LLVM is just another library
#   llvmlibc-*: those are meant for llvmlibc and don't apply for any other project
#   misc-no-recursion: we need recursion in code to support the structural recursion of our IR
#   performance-no-automatic-move: XXX
Checks: '*,-llvm-header-guard,-cppcoreguidelines-no-malloc,-hicpp-no-malloc,-cppcoreguidelines-pro-*,-cert-err60-cpp,-fuchsia-*,-hicpp-no-array-decay,-cert-msc32-c,-cert-msc51-cpp,-hicpp-vararg,-bugprone-exception-escape,-cppcoreguidelines-owning-memory,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-c-arrays,-hicpp-avoid-c-arrays,-llvm-include-order,-llvmlibc-*,-misc-no-recursion,-performance-no-automatic-move'
WarningsAsErrors: '*'
CheckOptions:
  - key: hicpp-braces-around-statements.ShortStatementLines
    value: 1
  - key: readability-braces-around-statements.ShortStatementLines
    value: 1
  - key: google-global-names-in-headers.HeaderFileExtensions
    value: 'h,hpp'
  - key: hicpp-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key: cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: 1
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
...
